<meta charset="UTF-8">
<title>E-cosistema</title>
<!-- CSS -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> 
<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css"> 
<link rel="stylesheet" href="css/style.css">
<script src="bower_components/angular/angular.min.js"></script>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Join&amp;Enjoy">