@import "colors";
@import "mixins";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);
@import "nice-select";

body,html{
	height: 100%;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 17px;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	background: white;
	color: $dark;
}

.container-fluid{
	padding-left: 0px; 
	padding-right: 0px;
}

h1, h2, h3, h4, h5, h6{
	//font-family: "Merriweather"; 
	//font-family: "Poppins"; 

}

.left{
	width: 100%;
	background: $green;
	display: table;
	text-align: center;
	color: white;

	.hero{
		display: table-cell;
		vertical-align: middle;
		padding: 35px;
		h1{
			font-size: 33px;
			line-height: 1.4em;
			margin-bottom: 15px;
			font-weight: 400;
			@include respond-to(handhelds){
				font-size: 25px;
			}
		}

		h4{
			font-size: 19px;
			opacity: 0.85;
			padding-bottom: 10px;
			@include respond-to(handhelds){
				font-size: 16px;
				line-height: 25px;
			}
		}
	}

}

.right{
	//padding: 90px;
	margin:auto;
	padding-top: 60px;
	padding-bottom: 60px;
	
	@include respond-to(handhelds-and-medium){
		padding-top: 30px;
		padding-bottom: 30px;
		height: initial;
	}

	.input-div{
		position: relative;

		span{
			position: absolute;
			right: 18px;
			top: 18px;
			color: $red;
			opacity: 0;
			@include transition-fade(0.5s);
		}
	}

	.table{
		width: 500px;
		margin: auto;
		@include respond-to(handhelds-and-medium){
			width: 90%;
		}
	}

	.err-div{
		background-color: #F5F5F5;
		padding: 13px 18px;
		border-radius: 3px;
		color: #EE6352;
		font-size: 14px;
		margin-top: 14px;
		display: none;

		span.fa{
			margin-right: 10px;
		}
	}


	p{
		margin-bottom: 15px;
		@include respond-to(handhelds){
			font-size: 15px;
		}
	}

	input.box-input[type="text"]{
		background-color: #f1f1f1;
		border: 1px solid #e1e1e1;
		border-radius: 3px;
		margin-bottom: 20px;
		padding: 25px 25px;
		font-size: 17px;
		color: #222222;
	}

	.invalid{
		border-color: $red !important;
	}

	input[type="text"]:focus{
		border-color: $green;
	}
}

.btn-subscribe{
	background-color: #ee6352;
	color: white;
	border-radius: 3px;
	border: none;
	padding: 12px;
	height: inherit;
	font-size: 17px;
	font-weight: 600;
	display: block;
	//width: 70%;
	@include transition-fade(0.5s);
	margin-top: 30px;
}

.btn-subscribe:hover{
	background-color: $dark-red;
}

.simplebox {
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.tags{
	margin-top: 40px;
	.tag{
		border: 2px solid $light-blue;
		border-radius: 3px;
		display: inline-block;
		padding: 7px 13px;
		color: $blue;
		font-size: 15px;
		font-weight: 600;
		cursor: pointer;
		margin-right: 15px;
		margin-bottom: 18px;
		@include transition-fade(0.3s);
		@include respond-to(handhelds){
			font-size: 13px;
			padding: 5px 11px;	
			margin-right: 12px;
			margin-bottom: 15px;
		};
	}

	.active{
		background-color: $blue;
		border: 2px solid $blue;
		color: white;
	}

	.tag:not(.active):hover{
		//background-color: $light-blue;
		//border: 2px solid $light-blue;
		//color: white;
	}
}

.stats{
	color: $light-gray;
	font-size: 15px;
	margin-top: 15px;
	display: block;
	text-align: center;
}

.natural-form{
	p{
		display: inline;
  		line-height: 31px;
	}
	input{
		display: inline;
		width: 160px;
		text-align: center;
		background-color: transparent;
		border-radius: 0;
		border: none;
		position: relative;
		border-bottom: 1px solid #B5B5B5;
		bottom: 3px;
		padding-top: 16px;
		color: #4A4A4A;
		font-weight: 700;
		font-size: 15px;
	}

	input#email-input{
		width: 240px;
	}

	.email-span{
		position: relative;
		span{
			position: absolute;
			right: 6px;
			font-size: 13px;
			top: 4px;
			color: #ee6352;
			opacity: 0;
			@include transition-fade(0.5s);
		}
	}

	
}


//GRACIAS PAGE
.thanks{
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
	.content{
		display: table-cell;
		vertical-align: middle;
		padding: 20px;
		h2{
			color: $green;
			font-weight: 700;
			font-size: 48px;
			margin-bottom: 60px;
		}
		h3{
			font-size: 22px;
			color: #666666;
			margin-bottom: -10px;
			font-weight: 400;

			@include respond-to(handhelds){
				font-size: 18px;
				line-height: 28px;
			}
		}
		a{
			margin-top: 90px;
			display: block;
			text-decoration: underline;
			color: $dark;
			font-size: 14px;
			font-weight: 600;
		}
	}
}