@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);
select {
  display: none; }

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 0px;
  border: none;
  border-bottom: solid 1px #b5b5b5;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: inline-block;
  float: none;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  height: 32px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  bottom: 3px;
  text-align: center !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 175px;
  color: #4a4a4a; }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999; }
  .nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 21px;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }

body, html {
  height: 100%;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 17px;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background: white;
  color: #595959; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.left {
  width: 100%;
  background: #5fdd9d;
  display: table;
  text-align: center;
  color: white; }
  .left .hero {
    display: table-cell;
    vertical-align: middle;
    padding: 35px; }
    .left .hero h1 {
      font-size: 33px;
      line-height: 1.4em;
      margin-bottom: 15px;
      font-weight: 400; }
      @media only screen and (max-width: 380px) {
        .left .hero h1 {
          font-size: 25px; } }
    .left .hero h4 {
      font-size: 19px;
      opacity: 0.85;
      padding-bottom: 10px; }
      @media only screen and (max-width: 380px) {
        .left .hero h4 {
          font-size: 16px;
          line-height: 25px; } }

.right {
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media only screen and (max-width: 1023px) {
    .right {
      padding-top: 30px;
      padding-bottom: 30px;
      height: initial; } }
  .right .input-div {
    position: relative; }
    .right .input-div span {
      position: absolute;
      right: 18px;
      top: 18px;
      color: #ee6352;
      opacity: 0;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .right .table {
    width: 500px;
    margin: auto; }
    @media only screen and (max-width: 1023px) {
      .right .table {
        width: 90%; } }
  .right .err-div {
    background-color: #F5F5F5;
    padding: 13px 18px;
    border-radius: 3px;
    color: #EE6352;
    font-size: 14px;
    margin-top: 14px;
    display: none; }
    .right .err-div span.fa {
      margin-right: 10px; }
  .right p {
    margin-bottom: 15px; }
    @media only screen and (max-width: 380px) {
      .right p {
        font-size: 15px; } }
  .right input.box-input[type="text"] {
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 25px 25px;
    font-size: 17px;
    color: #222222; }
  .right .invalid {
    border-color: #ee6352 !important; }
  .right input[type="text"]:focus {
    border-color: #5fdd9d; }

.btn-subscribe {
  background-color: #ee6352;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 12px;
  height: inherit;
  font-size: 17px;
  font-weight: 600;
  display: block;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 30px; }

.btn-subscribe:hover {
  background-color: #d85a4a; }

.simplebox {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.tags {
  margin-top: 40px; }
  .tags .tag {
    border: 2px solid #6884BF;
    border-radius: 3px;
    display: inline-block;
    padding: 7px 13px;
    color: #48639c;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 18px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media only screen and (max-width: 380px) {
      .tags .tag {
        font-size: 13px;
        padding: 5px 11px;
        margin-right: 12px;
        margin-bottom: 15px; } }
  .tags .active {
    background-color: #48639c;
    border: 2px solid #48639c;
    color: white; }

.stats {
  color: #b1b1b1;
  font-size: 15px;
  margin-top: 15px;
  display: block;
  text-align: center; }

.natural-form p {
  display: inline;
  line-height: 31px; }
.natural-form input {
  display: inline;
  width: 160px;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  border: none;
  position: relative;
  border-bottom: 1px solid #B5B5B5;
  bottom: 3px;
  padding-top: 16px;
  color: #4A4A4A;
  font-weight: 700;
  font-size: 15px; }
.natural-form input#email-input {
  width: 240px; }
.natural-form .email-span {
  position: relative; }
  .natural-form .email-span span {
    position: absolute;
    right: 6px;
    font-size: 13px;
    top: 4px;
    color: #ee6352;
    opacity: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.thanks {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center; }
  .thanks .content {
    display: table-cell;
    vertical-align: middle;
    padding: 20px; }
    .thanks .content h2 {
      color: #5fdd9d;
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 60px; }
    .thanks .content h3 {
      font-size: 22px;
      color: #666666;
      margin-bottom: -10px;
      font-weight: 400; }
      @media only screen and (max-width: 380px) {
        .thanks .content h3 {
          font-size: 18px;
          line-height: 28px; } }
    .thanks .content a {
      margin-top: 90px;
      display: block;
      text-decoration: underline;
      color: #595959;
      font-size: 14px;
      font-weight: 600; }

/*# sourceMappingURL=style.css.map */
