<!DOCTYPE html>
<html lang="en" ng-app = "newsletter"> 
<head>
	<% include ../partials/head %> 
</head>
<body class="container-fluid" ng-controller="mainController">
	<div class = "container thanks">
		<div class = "content">
			<h2>¡Bienvenido!</h2>
			<h3>Ahora necesitamos que confirmes tu email.</h3>
			<h3>Por favor <b> dale click al link </b> que acabamos de enviar a tu correo.</h3>
			<a href="/">Volver atrás</a>
		</div>
	</div>

	<% include ../partials/body_footer %> 
</body> 
</html>