<!DOCTYPE html>
<html lang="en"> 
<head>
	<% include ../partials/head %> 
</head>
<body class="container-fluid">
	<div class = "col-sm-6 left"></div>
	<div class = "col-sm-6 right">
		<div class = "table">
			<div class = "cell">
				<p>No te enviaremos basura. Lo prometemos.</p>
				<input type = "text" placeholder = "Tu email" class = "simplebox form-control">
				<p>Selecciona al menos dos temas de tu interés.</p>
				<div class = "tags">
					<div class = "tag">
						Emprendimientos
					</div>
					<div class = "tag">
						Convocatorias
					</div>
					<div class = "tag">
						Aceleradoras
					</div>
					<div class = "tag">
						Coworking spaces
					</div>
					<div class = "tag">
						Inversionistas
					</div>
					<div class = "tag">
						Meetups
					</div>
					<div class = "tag">
						Fundaciones
					</div>
					<div class = "tag">
						Gobierno
					</div>
					<div class = "tag">
						Crowdfundings
					</div>
					<div class = "tag">
						Blogs
					</div>
					<div class = "tag">
						Centros de innovación
					</div>
				</div>
				<button class = "btn-subscribe form-control simplebox">Suscribirme</button>
				<span class = "stats">Únete a otras 503 personas suscritas a nuestra lista</span>
			</div>
			
		</div>
		
	</div>
</body> 
</html>